@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;500;700&display=swap');

* {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.avatar {
  border-radius: 999px;
}

.nav-container {
  padding: 1em;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.ui.menu:last-child {
  margin: 0;
}

.nav-title {
  margin-left: 1em;
}

.nav-title a {
  color: #fff;
}

.ui.orange.button {
  margin-left: 2em;
}

.ui.list .list > .item .header, .ui.list > .item .header {
  color: #fff;
}

.navspan {
  font-weight: 700;
  margin-left: .5em;
}

.navspan2 {
  font-weight: 300;
}